
@{
    ViewBag.Title = "TestimonialsPage";
}

<body>
    <h2>Here are some testimonials from current and Past Students</h2>
    <div class="boxes">
        <h3>Hicham</h3>
        <p>All I do is Class is play the video game Brawlhalla instead of listening to the teacher</p>

        <h3>Dylan</h3>
        <p>I think that I am the best at coding and even though I don't show it I like the company of the AMAZING STUDENT AMIN</p>
    </div>
</body>
